body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw; 
    margin: 0;
}

#contenido{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-style: oblique;
    color:  blue;
    margin: 10px;
    border: 1px solid black;
}

.now{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-style: oblique;
    color:  blue;
    background-color: bisque;
    margin: 10px;
    border: 1px solid black;
}