#segundos{
    margin: 50px;
    background-color: aqua;
    position: relative;
    border: 1px solid black;

}

#posponer{
    margin: 50px;
    background-color: aqua;
    position: relative;
    border: 1px solid black;

}

#detener{
    margin: 50px;
    background-color: aqua;
    position: relative;
    border: 1px solid black;

}

.alert {
    display: none;
    position: fixed;
    place-content: center;
    top: 50%;
    left: 30%;
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-size: 30px;
  }

  